.boton {
    width: 100%;
    height: 56px;
    border-radius: 16px !important;
    background-color: #FF7029 !important; /* Asegúrate de que esto esté aquí */
    color: #FFF !important; /* Color del texto */
    font-family: "SF UI Display", sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-align: center !important;
  
    /* Asegúrate de incluir esto para evitar cambios en el hover o activo */
    --background: #FF7029 !important;
    --color: #FFF !important;
  }

.back-button-container 
{
    
    top: 20px;
    left: 20px;
    z-index: 10;
  }
.back-button 
{
    --background: transparent;
    --color: #1B1E28;
    font-size: 24px;
}
.ion-card-title
{
    justify-content: center;
}
  